<mat-spinner *ngIf="loading"></mat-spinner>

<form [formGroup]="signupForm" *ngIf="!loading">
  <h1>Inscription</h1>
  <div class="form-group">
    <label for="text">Nom</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control" id="password" formControlName="password">
  </div>
  <button mat-raised-button color="primary" [disabled]="signupForm.invalid" (click)="onSignup()">INSCRIPTION</button>
  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
</form>